.auth__save {
    width: 358px;
    color: #000;
    background-color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    min-height: 50px;
    margin-bottom: 15px;
    border: none;
    border-radius: 2px;
}

.auth__save:hover {
    opacity: 0.85;
    cursor: pointer;
}