.popup__content {
    border: 0;
    margin: 16px auto 18px;
    padding: 0;
    max-width: 358px;
}

@media all and (max-width: 600px) {
    .popup__content {
        max-width: 238px;
        margin-bottom: 15px;
    }
}