.elements__delete {
    margin: 0;
    min-width: 18px;
    min-height: 19px;
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
}

.elements__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}