.profile__cover {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.profile__cover:hover .profile__avatar {
    opacity: 0.4;
}

.profile__cover::before {
    content: url('../../../images/editavatar.svg');
    position: absolute;
    top: 47px;
    left: 47px;
    z-index: 1;
    opacity: 0;
}

.profile__cover:hover::before {
    opacity: 1;
}